.result-container {
  width: 60vw;
  text-align: center;
  border: 4px solid #814cad;
  border-radius: 15px;
  background-color: white;
  margin-top: 8%;
  box-shadow: 
}

.favorite-button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: none;
  padding: 5px;
}

