.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 20%;
  width: 100vw;
  background-color: #21A0A0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

h1 {
  margin-left: 12%;
  width: 80%;
  /* position: absolute; */
  left: 55%;
}

.nav-button-area {
  width: 10%;
  margin-right: 2%;
}

.nav-button {
  background-color: #ffbf69;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  padding: 9px;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.nav-button:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}





