.home-page-options {
  display: flex;
  width: 90vw;
  height: 60vh;
  justify-content: space-around;
  align-items: center;
}

.option {
  border: 3px solid black;
  width: 45%;
  max-width: 500px;
  min-width: 375px;
  height: 85%;
  text-align: center;
  text-decoration: none;
  color: black;
  transition: all 0.5s;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.option-title {
  font-size: 24px;
}

.option:hover {
  transform: scale(1.1);
}

.play-link {
  background-color: white;
  white-space: normal;
  height: fit-content;
}

.favorites-link {
  background-color: #f0b900;
  height: fit-content;
}

.play-image,
.fav-image {
  width: 50%;
  border-radius: 15px 15px 0 0
}

@media screen and (max-width: 800px) {
  .home-page-options {
    flex-direction: column;
    margin: 2%;
  }

  .option {
    width: 90%;
    min-width: 200px;
    height: 45%;
  }

  .play-image,
  .fav-image {
    width: 50%;
    margin: 20px;
  }

}