.input {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-word-btn  {
  margin-top: 5px;
  width: fit-content;
}

.disabled-btn {
  pointer-events: none;
  background-color: #f8f8f8;
  color: #696969;
  box-shadow: none;
  border: .5px solid #d0d0d0
}